* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", system-ui;
    color: #140404;
}
header{
    background-color: rgb(24, 94, 79); 
}
header h1 {
    color: rgb(255, 255, 255);
}
li{
    list-style: none;
}
h1{
    font-size: 2rem;
    color: #ffffff;
}
nav a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.3rem; 
}
.navbar{
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
.nav-menu{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 70px;
}
.nav-link{
    transition: 0.7s ease;
    color: #ffffff;
    background-color: rgb(24, 94, 79); 
    padding: 8px 16px;
    border-radius: 4px;
}
.nav-link:hover{
    background-color: #993d00; 
    color: #ffffff;
}
ul a:hover{
    background-color: #993d00;
    padding: 8px 16px;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    background-color: #ffffff; 
}

.temple-card {
    display: grid;
    padding: 10px;
    grid-template-columns:repeat(3, 1fr);
    gap: 10px;
}
main {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
    cursor: pointer;
}
main h2{
    font-size: 2rem;
    text-align: center;
}
section {
    margin: 20px;
    padding: 20px;
    background-color: #edf4f7;
    border: 1px solid #bbb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}
section h3 {
    color: #140404;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 20px;
}
  
section p {
    color: #140404;
    font-size: 16px;
    margin-bottom: 10px;
}
  
.temple-card .label {
    font-weight: bold;
    margin-right: 10px;
}
  
.temple-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
  
section img {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    border: 1px solid #bbb;
    box-shadow: 0 0 3px #333;
}
img {
    overflow: clip;
    overflow-clip-margin: content-box;
}

footer {
    background-color: rgb(24, 94, 79); 
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}

footer p {
    font-size: 1.2rem;
    margin: 5px 0;
}
#currentyear{
    color: #ffffff;
}