
body {
    font-family: "Lexend", sans-serif;
    font-size: 1.2rem;
    background-color: #fff;
    margin: 0;
    padding: 20px;
}

.review-container {
    max-width: 500px;
    font-weight: 5rem;
    margin: 0 1rem;
    padding: 25px;
    background-color: #e9e7e7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
header {
    max-width: 500px;
    background: #3a0037;
    border-radius: 10px;
    padding: 8px 25px;
    margin: 0 1rem;
    margin-bottom: 1rem;
}
header h2 {
    text-align: center;
    color: #f3eef3;
}
input {
    text-align: start;
}
#submitBtn {
    font-weight: 700;
    background: #3a0037;
    color: #ffffff;
    padding: 10px;
}
label {
    display: block;
    font-weight: 5rem;
    margin: 10px 0 5px;
}

select, input[type="text"], textarea, input[type="date"] {
    width: 100%;
    font-size: 1.2rem;
    padding: 10px 0.1px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px;
}

button {
    font-size: 1.2rem;
    width: 100%;
    padding: 10px;
    background-color: #3a0037;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5e0469;
}
.rating {
    display: flex;
    padding: 10px;
    gap: 1rem;
}

.rating input[type="radio"] {
    display: inline-block;
    color: #000;
    
}

.rating label {
    top: 5px;
    font-size: 1.1rem;
    color: #000000;
    padding: 6px;
    text-align: center;
    cursor: pointer;
}


input:not(:checked )~ label:hover {
    color: #bbb;
}
input:checked ~ label {
    color: #fd4;
}

.audience input[type="checkbox"] {
    margin-right: 10px;
}

#confirmeMessage {
    margin-top: 20px;
    text-align: center;
    color: #30d630;
}

/* ------------------------------
   REVIEW PAGE (review.html)
--------------------------------*/
.review-header {
    background: none;
    max-width: 900%;
}
.review-confir p {
    margin-bottom: 8px;
    font-size: 1rem;
}

.review-confir {
    background: #e9e7e7;
    max-width: 500%;
    padding: 15px 10rem;
}
main span {
    font-weight: 700;
    color: #30d630;
}
.review-footer {
    margin-top: 20rem;
}

footer p {
    color: #3a0037;
    text-align: center;
    font-size: 1.3rem;
}


@media screen and (max-width: 768px) { 
    .review-container {
      max-width: 90%; 
    }
  
    .rating {
      display: flex; 
      padding: 5px 50px;
      gap: 5px;
    }
  
    .star-rating label {
      font-size: 1.1rem; /* Adjust font size for better readability */
    }
    select, input[type="text"], textarea, input[type="date"] {
        width: 100%;
        font-size: 1.1rem;
        padding: 10px 0.1px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
  
  }