:root {
  --primary-color: #30e1b2;
  --secondary-color: #fea435;
   
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-align: center;
}

header {
  background: var(--secondary-color);
  padding: 1.3rem;
  align-items: center;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

#hero {
  /* background-image: url("../images/pond-liane.webp");
  background-size: cover;
  background-position: center; */
  padding: 10px;
  object-fit: cover;
  flex-wrap: wrap;
  animation: fade-in 1s; 
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.2rem;
  margin-bottom: 10rem;
}

.data-box {
  font-family: "Roboto", system-ui;
  padding: 0.9rem;
  border-radius: 3px;
  width: 100%; 
  color: #333;
  border-bottom: 1px solid #ece6e6;
}
.weather-box {
  font-family: "Roboto", system-ui;
  background-color: none;
  padding: 0.9rem;
  border-radius: 3px;
  color: #333;
  border-top: 1px solid #ece6e6;
}
.wide-icon {
  display: none;
}

svg {
  width: 80px;
  height: 80px;
}
h2 {
  padding: 10px;
  margin-bottom: 12px;
  color: #000000;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 20px;
  font-size: 0.9rem;
}
p {
  margin-bottom: 20px;
  font-size: 0.9rem;
}

footer {
  background-color: #fea435;
  padding: 40px;
  color: #ffffff;
  margin-top: auto;
}

/* Tablet and medium screens */
@media screen and (min-width: 768px) {
  .hero-content {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    max-width: 900%;
    grid-gap: 20rem;
    margin-bottom: 10rem;
  }

  .flag-image {
    display: none;
  }

  h2 {
    position: relative;
    left: 18rem;
    background-color: #30e1b2; 
    padding: 10px;
    margin-bottom: 12px;
    color: aliceblue;
    left: 30px;
  }

  #hero {
    position: relative;
    background-image: url("../images/5eme-pond.webp");
    background-size: cover;
    background-position: center;
    padding: 20px;
    object-fit: cover;
    flex-wrap: wrap;
    animation: fade-in 1s; 
  }

  .data-box {
  position: relative;
  bottom: 0.1rem;
  font-family: "Roboto", system-ui;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.5rem;
  border-radius: 8px;
  width: 70%; 
  height: 10px auto;
  color: #333;
  grid-column: 1/2;
}
.weather-box {
  position: relative;
  top: 18rem;
  left: 13rem;
  font-family: "Roboto", system-ui;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.5rem;
  border-radius: 8px;
  width: 60%;
  height: 45vh;
  color: #333;
  grid-column: 3/4;
  }
  /* Hide SVG image */
  .wide-icon {
  display: inline;
}
  svg {
    display: none;
  }

  /* Show emoticon in heading */
  .wide-icon {
    display: inline;
  }
}

/* Large screens / desktops */
@media screen and (min-width: 1200px) {
  .hero-content {
    max-width: 1200px;
    gap: 5rem;
  }

  /* .data-box,
  .weather-box {
    padding: 2rem;
    font-size: 1rem;
  } */

  #hero {
    padding: 40px;
    background-position: center center;
  }
}
