:root {
  --primary-color: #30e1b2;
  --secondary-color: #fea435;
  --background-image: url("../images/zaouli_mask.webp"); 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  /* background-color: #39b23d;  */
  color: white;
  text-align: center;
}

header {
  background: linear-gradient(rgb(249, 173, 73)  110px, var(--primary-color) 50px);
  padding: 1.5rem;
}

h1 {
  font-size: 48px;
  color: white;
  margin-bottom: 20px;
}

#hero {
  background-image: url("../images/zaouli_mask.webp");
  background-size: cover;
  background-position: center;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  height: auto;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  animation: fade-in 1s; 
}

/* @keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

.hero-content {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
}

.data-box, .weather-box {
  font-family: "Roboto", system-ui;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.5rem;
  border-radius: 8px;
  /* max-width: 45%; */
  height: auto;
  color: #333;
}
.weather-box::after {
  content: '⛅️';
  font-size: 25px;
  color: #333;
}
h2 {
  background-color: #30e1b2; 
  padding: 12px;
  margin-bottom: 12px;
  color: aliceblue;
  left: 30px;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 20px;
  font-size: 17px;
}

footer {
  background-color: #fea435;
  padding: 40px;
  color: white;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  main {
      flex-direction: column;
      align-items: center;
  }
  .hero {
    background-image: url("../images/pontdeliane.webp"); 
  }

  /* .data-box, .weather-box {
      width: 100%;
      margin-top: 100%;
  } */
}
