@media (max-width: 768px){
    h1 {
        font-size: 1.5rem;
        color: #ffffff;
    }
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #f5d34d;
        width: 100%;
        text-align: center;
        transition: 0.1s;
    }

    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }

    .images-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }
    
}

@media (max-width: 320px){
    .figure img:hover {
       border: 2px solid #140404;
       box-shadow: 0 4px 8px rgba(211, 126, 126, 0.2);
    }
    .images-box {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }

}