
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", system-ui;
}
header{
    background: #3dc9ab;
}
li{
    list-style: none;
}
h1{
    font-size: 2rem;
    color: #ffffff;
}
nav a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.3rem; 
}
.navbar{
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
.nav-menu{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 70px;
}
.nav-link{
    transition: 0.7s ease;
}
ul a:hover{
    background-color: #ee740a;
    padding: 16px; 
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    background-color: #ffffff; 
}

.images-box {
    display: grid;
    padding: 10px;
    grid-template-columns:repeat(3, 1fr);
    gap: 10px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 900px;
    cursor: pointer;
}
main h2{
    font-size: 2rem;
    text-align: center;
}
.figure img {
    max-width: 100%;
    height: 44vh;
}
.figure img:hover {
    border: 2px solid #ffffff;
    box-shadow: 0 4px 8px rgba(211, 126, 126, 0.2);
}
.figure {
    text-align: center;
    margin: 7px;
}

footer {
    background-color: #3dc9ab;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}
footer p {
    font-size: 1.2rem;
    margin: 5px 0;
}